/* Font Files */

@font-face {
  font-family: mainFont;
  src: local("mainFont"), url("mainFont.ttf");
}


/* main css */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  direction: rtl;
}

body , html{
  font-family: mainFont, sans-serif;
}

a{
  text-decoration: none;
}

li{
  list-style: none;
}

img {
  width: 100%;
  display: block;
}

input, button{
  border: none;
  outline: none;
}



/* error form style */ 

#error {
  position: relative;
  top: -5px;
  color: red;
  font-size: 14px;
  width: max-content;
  margin: 0 auto;
  padding: 0 5px 3px;
  background: #fcfefe;
  border-radius: 3px;
  border: 1px solid red;
  line-height: 1.2;
  opacity: 0;
  transition: 0.2s;
}

#error.active {
  opacity: 1;
}


/* button */

.btn_img {
  width: 60%;
  margin: 0 auto;
  padding: 4px 0 10px;
}

.div_btn{
  text-align: center;
}
.div_btn .btn{
  font-family: mainFont, sans-serif;
  font-size: 28px;
  padding: 1px 38px;
  color: #fcfefe;
  background: linear-gradient(#46BFF2, #3167D7);
  border-radius: 20px;
  box-shadow: 0 5px 15px #5858586b;
  cursor: pointer;
}


@media (min-width:576px){
  .btn_img{
    width: 280px;
  }
}


/* ================== */
/* Start hero Section */
.hero .content{
  background: url(../images/bg-hero.webp);
  background-size: cover;
  background-position: bottom;
  padding-top: 10px;
  text-align: center;
}
.hero ul li{
  font-size: 5.4vw;
  line-height: 1.3;
  padding: 2px 0 5px;
  color: #363636;
  margin: 0 auto 2px;
  width: 95%;
  border-radius: 20px 0 20px 0;
}
.hero ul li.blue{
  background: linear-gradient( #46C1F2 , #3067D5);
  color: #fff;
}
.hero ul li.orange{
  background: url(../images/orange-line.webp);
  background-size: cover;
  background-position: bottom;
  color: #fff;
}
.hero ul li.orange.last{
  line-height: 1.5;
}

.hero .content .btn_img{
  margin-top: -20px;
}

/* ==========  Responsive Design  ========== */
/* ==========  sm ≥ 576px  ========== */
@media (min-width:576px){
  .hero ul li {
    font-size: 28px;
  }
}

/* ==========  md ≥ 768px  ========== */
@media (min-width:768px){
.hero ul li{
  width: 70%;
}
}

/* ==========  lg ≥ 992px  ========== */
@media (min-width:992px){
.flex{
  display: flex;
}
.hero{
  width: 50%;
}

.hero ul li{
  font-size: 26px;
}
}

/* ==========  xl ≥ 1200px  ========== */
@media (min-width:1200px){
  .hero .top_img{
    margin-top: -3.7vw;
    
  }
  .hero ul li{
    width: 80%;
  }
}
@media (min-width:1400px){
    .hero ul li{
    width: 70%;
  }
}

/* End hero Section */
/* ================== */


/* ================== */
/* Start results Section */

.results{
  background: url(../images/bg-result.webp);
  background-size: cover;
  background-position: bottom;
}
.results .top_sec h3{
  color: #fff;
  font-size: 12vw;
  padding: 3px 0 15px;
  line-height: 1;
  background: linear-gradient( #F7A81F, #F5671A);
  border-radius: 0 0 25px 25px;
  text-align: center;
}
.results .top_sec h5{
  color: #ff9f18;
  font-size: 5vw;
  padding: 5px 20px 10px;
  line-height: 1;
  width: max-content;
  margin: 0 auto 10px;
  background: linear-gradient( #282828, #191512);
  border-radius: 0 0 25px 25px;
  text-align: center;
}
.results .btn_img{
    margin-top: -20px;
}



/* ==========  Responsive Design  ========== */
/* ==========  sm ≥ 576px  ========== */
@media (min-width:576px){
  .results .top_sec h3{
    font-size: 10vw;
  }

}

/* ==========  md ≥ 768px  ========== */
@media (min-width:768px){

}

/* ==========  lg ≥ 992px  ========== */
@media (min-width:992px){
.results{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5vw 0 0;
}
.results .top_sec h3{
  font-size: 50px;
  width: 80%;
  margin: 0 auto;
  border-radius: 20px;
}
.results .top_sec h5{
  font-size: 20px;
}
}

/* ==========  xl ≥ 1200px  ========== */
@media (min-width:1200px){
  .results .img_results{
    width: 90%;
    margin: 0 auto;
  }
}

@media (min-width:1500px){
  .results .img_results{
    width: 80%;
  }
}
/* End results Section */
/* ================== */


/* ================== */
/* Start doctor Section */

.doctor{
  position: relative;
  background-color: #3695CC;
}
.doctor .btn_img{
  position: absolute;
  bottom: 0px;
  right: 3%;
  padding-bottom: 0;
  width: 55%;
}


/* ==========  Responsive Design  ========== */
/* ==========  sm ≥ 576px  ========== */
@media (min-width:576px){

}

/* ==========  lg ≥ 992px  ========== */
@media (min-width:992px){

  .doctor{
    width: 50%;
  }
  .doctor .btn_img{
    bottom: 15px;
    right: auto;
    left: 50%;
    transform: translateX(-50%);
  }
}

/* ==========  xl ≥ 1200px  ========== */
@media (min-width:1200px){

}

/* End doctor Section */
/* ================== */


/* ================== */
/* Start how_work Section */

.how_work{
  text-align: center;
}

.how_work .top_sec{
  background: linear-gradient(#43B6EE,#3069D7);
  padding-bottom: 5px;
    border-radius: 0 0 45px 45px;
}
.how_work .top_sec h3{
  font-size: 8vw;
  background: url(../images/orange-line.webp);
  background-size: cover;
  background-position: bottom;
  color: #fff;
  border-radius: 0 0 35px 35px;
  padding-bottom: 5px;
}
.how_work .top_sec h4{
  color: #fff;
  font-size: 6.5vw;
  
}
.how_work .div_img{
  width: 64%;
  margin: 4px auto 32vw;
}
.how_work .btn_img{
  padding-bottom: 15px;
}

.how_work .btm_how_work{
  background: linear-gradient(140deg ,#40A7EA , #2E5BD1 );
  padding-top: 30px;
}
.how_work .btm_how_work li{
  color: #fff;
  font-size: 5.2vw;
}
.how_work .btm_how_work li.orange{
  background: linear-gradient(#F55919,#F7A61F);
  width: 95%;
  margin: 0 auto;
  border-radius: 10px 10px 0 0;
}
/* ==========  Responsive Design  ========== */
/* ==========  sm ≥ 576px  ========== */
@media (min-width:576px){
.how_work .top_sec h3{
  font-size: 6vw;
}

.how_work .div_img{
  width: 80%;
}
}

/* ==========  lg ≥ 992px  ========== */
@media (min-width:992px){
  .how_work{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .how_work .top_sec h3{
    font-size: 3vw;
  }
  .how_work .div_img{
    margin-bottom: 8vw;
  }
  .how_work .top_sec h4{
    font-size: 2.4vw;
  }
.how_work .btm_how_work li{
  font-size: 2.3vw;
}
}

/* ==========  xl ≥ 1200px  ========== */
@media (min-width:1200px){

}


/* End how_work Section */
/* ================== */









/* ================== */
/* Start form_section Section */


/* top form section */


.form_section .delvery_text{
  padding: 14px 0;
}

.form_section .delvery_text p {
  color: #fff;
  text-align: center;
  font-size: 6.5vw;
  line-height: 1;
}
.form_section .delvery_text p.bg{
  background: linear-gradient(#F2981D, #BD5F12);
  padding: 2px 8px 8px;
  width: max-content;
  margin: 5px auto;
}


/* form */

.form_section .container_form{
  background: linear-gradient(#2E5FD1, #3FA8E5);
  padding-bottom: 10px;
}

.form_section .sm-p {
  font-size: 2.4vw;
  text-align: center;
  line-height: 1.5;
  color: #fff;
  padding: 7px 0;
}


.form_section form{
  background: linear-gradient(#F5591A, #F7A61F);
  text-align: center;
  width: 95%;
  margin: 0 auto ;
  border-radius: 18px;
  box-shadow: 5px 5px 8px #00000027;
  padding-bottom: 15px;
}
.form_section .top_form{
  padding: 12px 0;
}
.form_section .top_form p{
  font-size: 5vw;
  line-height: 1.3;
  color: #fbfdfd;
}
.form_section form .input_div{
  position: relative;
  width: 95%;
  margin: 0 auto;
  margin-bottom: 12px;
  }

.form_section form .input_div svg{
  position: absolute;
  width: 30px;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
}

.form_section form .input_div .icon_Phone{
  transform:translateY(-50%) scaleX(-1);
}


.form_section form input{
  width: 100%;
  padding: 15px 40px 15px 10px;
  font-size: 18px;
  box-shadow: 5px 5px 8px #00000031;
  text-align: right;
  font-family: sans-serif;
  border-radius: 10px;
  border: 1px solid transparent;
  transition: 0.3s ease-in;
}
.form_section form input:focus {
  border-color: #68E03E;
}


/* ==========  Responsive Design  ========== */
/* ==========  sm ≥ 576px  ========== */
@media (min-width:576px){
.form_section .delvery_text p{
  font-size: 6vw;
}
.form_section .sm-p{
  font-size: 2.5vw;
}
.form_section .top_form p{
  font-size: 4.8vw;
}
.form_section form .input_div{
  width: 90%;
}
}



/* ==========  lg ≥ 992px  ========== */
@media (min-width:992px){
.form_section{
  display: flex;
}
.form_section .price{
  width: 50%;
}

.form_section .container_form{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.form_section form{
  width: 90%;
}
.form_section .delvery_text p{
  font-size: 30px;
}
.form_section .sm-p{
  font-size: 13.5px;
}
.form_section .top_form p{
  font-size: 24px;
}

}

/* ==========  xl ≥ 1200px  ========== */
@media (min-width:1200px){
.form_section form{
  width: 80%;
  padding: 25px 20px 30px;
  width: max-content;
  min-width: 600px;
}
}

/* End form_section Section */
/* ================== */




/* ================== */
/* Start footer Section */

.footer{
  background: #3FA8E5;
  padding-top: 10px;
  padding-bottom: 20px;
}
.footer .boxs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 94%;
  margin: 0 auto;
  
}

.footer .boxs .box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  width: 33.3%;
}

.footer .boxs .box img {
  height: 24px;
  width: auto;
}

.footer .boxs .box p {
  font-size: 2.4vw;
  line-height: 1.5;
  color: #ececec;
}

/* ==========  Responsive Design  ========== */
/* ==========  sm ≥ 576px  ========== */
@media (min-width:576px){
.footer .boxs .box img{
  height: 28px;
}
}

/* ==========  lg ≥ 992px  ========== */
@media (min-width:992px){
  .footer .boxs .box{
    gap: 20px;
  }
.footer .boxs .box img{
  height: 40px;
}
.footer .boxs .box p{
  font-size: 18px;
}

}

/* End footer Section */
/* ================== */